.contentText {  font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif; font-size: 10pt}
.sidebarText {  font-family: Verdana, Tahoma, Arial, sans-serif; font-size: 8pt; color: #FFFFFF}
.headerText {  font-family: Verdana, Tahoma, Arial, sans-serif; font-size: 18pt; font-weight: bold; color: #FFFFFF}
.sidebarHeadText { font-family: Verdana, Tahoma, Arial, sans-serif; font-size: 10pt; color: #FFFFFF }
.newsHeader {  font-family: Verdana, Tahoma, Arial, sans-serif; font-size: 10pt; color: #FFFFFF}
a:hover {  color: #FF0000}
.sidebarLink {  color: #000C58}
.redText {  color: #FF0000}
.moveListHeader {  font-family: Verdana, Tahoma, Arial, sans-serif; color: #FFFFFF; font-size: 10pt}
.moveListText {  font-family: Verdana, Tahoma, Arial, sans-serif; font-size: 8pt; color: #000000}
.printHeader {  font-size: 18pt; font-family: Verdana, Tahoma, Arial, sans-serif}
.printListHeader { font-family: Verdana, Tahoma, Arial, sans-serif; font-size: 10pt; font-style: italic; color: #FFFFFF}
.printListText { font-family: Verdana, Tahoma, Arial, sans-serif; font-size: 8pt}
.smallText {  font-size: 8pt}
.sidebarHeadLink { color: #FFFFFF}
.moveListLink { color: #000C58 }
.moveListColHeader {  font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif; font-size: 8pt; color: #FFFFFF}
.bigassText {  font-family: Verdana, Helvetica, Tahoma, Arial, sans-serif; font-size: 24pt}

/*
     FILE ARCHIVED ON 03:02:27 Aug 31, 2000 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:45:23 Nov 29, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.696
  exclusion.robots: 0.032
  exclusion.robots.policy: 0.019
  esindex: 0.013
  cdx.remote: 7.281
  LoadShardBlock: 111.133 (3)
  PetaboxLoader3.datanode: 93.772 (4)
  PetaboxLoader3.resolve: 88.297 (3)
  load_resource: 97.119
*/