
.mnpQuickSearch
{
	padding: 5px 10px 7px 5px;	
}

.mnpQuickSearch a
{
	text-decoration: inherit;
	color: inherit;
	background: inherit;
	font-weight: normal;
}

.mnpQuickSearch a:visited
{
	text-decoration: inherit;
	color: inherit;
	background: inherit;
	font-weight: normal;
}

.mnpQuickSearch a:hover
{
	text-decoration: inherit;
	color: inherit;
	background: inherit;
	font-weight: normal;
}

.mnpSearchBox
{
	margin: 2px 0px 1px 0px;
}

.mnpSearchButton
{
	margin-left: 7px;
	padding-left: 1px;
}

.syncBarNext
{
	cursor: hand; 
	margin-left: 7px; 
	width: 15px; 
	height: 15px; 
	border-color: #CCCCCC; 
	background: #CCCCCC; 
	border-width: 1px; 
	border-style: solid
}

.syncBarPrevious
{
	cursor: hand; 
	margin-left: 7px; 
	width: 15px; 
	height: 15px; 
	border-color: #CCCCCC; 
	background: #CCCCCC; 
	border-width: 1px; 
	border-style: solid
}


			.mnpQuickSearch
			{
				font: 7.5pt Verdana;
			}
			.mnpSearchBox
			{
				font: 11px Verdana;
			}
			.mnpSearchScopes
			{
				font: 11px Tahoma;
			}
			.mnpSearchButton
			{
				font: 11px Tahoma;
			}
        
.mnpMenuTop
{
	border-style: solid; 
	border-color: #999999; 
	border-width: 0px 1px 0px 0px;
	padding-top: 2px;
	background: #F1F1F1;
	font-size: small;
}

.mnpMenuSub
{
	position: absolute; 
	border: solid 1px #999999; 
	background: #F1F1F1;
	padding: 2px 0px;
}

.mnpMenuRow
{
	cursor: hand;
	padding: 1px 15px 3px 6px;
	border-style: solid;
	border-width: 1px;
	margin: 0px 2px;
	color: Black;
}

.mnpMenuRow a
{
	text-decoration: none; 
	color: black;
	background: inherit;
	font-weight: normal;
}

.mnpMenuRow a:visited
{
	text-decoration: none; 
	color: black;
	background: inherit;
	font-weight: normal;
}

.mnpMenuRow a:hover
{
	text-decoration: none;
	color: Black;
	background: inherit;
	font-weight: normal;
}

.mnpMenuLabel
{
	padding: 2px 2px 4px 4px;
	background: #F1F1F1;
	color: black;
}

.mnpMenuBorder
{
	height: 1px;
	background: #999999;
	overflow: hidden;
	margin: 2px 0px;
}

.mnpMenuArrow
{
	position: absolute;
	margin-top: 4px;
}

.mnpMenuScroller
{
	text-align: center;
	height: 19px;
	border-style: solid;
	border-width: 1px;
	padding-top: 4px;
	margin: 0px 2px;
	overflow: hidden;
}

.mnpMenuScrollArea
{
	overflow: hidden;
	background: inherit;
}

.mnpAds
{
	background: inherit;
}

.mnpAds a
{
	background: inherit;
}

.mnpAds a:link
{
	background: inherit;
}

.mnpAds a:visited
{
	background: inherit;
}

.mnpAds a:hover
{
	background: inherit;
}

.mnpInherit
{
	background: inherit;
}
			.mnpMenuLabel
			{
				font: bold 70% Verdana;
			}
			.mnpMenuRow
			{
				font: 70% Verdana;
			}
        body
{
	margin: 0px;
}

/*
     FILE ARCHIVED ON 07:14:11 Nov 09, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:19:14 Nov 19, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.738
  exclusion.robots: 0.029
  exclusion.robots.policy: 0.016
  esindex: 0.011
  cdx.remote: 399.238
  LoadShardBlock: 391.325 (3)
  PetaboxLoader3.datanode: 412.134 (4)
  PetaboxLoader3.resolve: 509.906 (2)
  load_resource: 553.089
*/