PRE
{
    COLOR: #000000;
    font-size:90%;
}
PRE.clsCode
{
    COLOR: #000000;
    font-size:80%;
}
A:link
{
    COLOR: #003399;
    TEXT-DECORATION: none
}
A:visited
{
    COLOR: #6699cc;
    TEXT-DECORATION: none
}

/*** from file***/
A.clsBackTop,
A.clsBackTop:visited {
	margin-top:10; margin-bottom:0;
	padding-bottom:0;
	font-size:90%;
	color:003399;
}
A.clsIncCpyRt {
	color:#ffffff;
	font-size:95%;
}
SPAN.clsFrom
{
    COLOR: #000000;
    font:normal 100%;
}

/*** article classes ***/
.articletext 
{
    font-family:verdana,arial,helvetica;
    FONT-SIZE: 80%;
}
.articletextplain
{
    font-family:verdana,arial,helvetica;
}
SPAN.dropcap
{
    font-family:verdana,arial,helvetica;
    FONT-SIZE: 225%;
    COLOR: #cc3300;
    FONT-STYLE: bold;
    FONT-VARIANT: normal;
    FONT-WEIGHT: bold;
    LINE-HEIGHT: 100%;
}
SPAN.QAcap
{
    font-family:verdana,arial,helvetica;
    FONT-SIZE: 140%;
    COLOR: #cc3300;
    FONT-STYLE: bold;
    FONT-VARIANT: normal;
    FONT-WEIGHT: bold;
    LINE-HEIGHT: 100%;
}
SPAN.clsLevel
{
    COLOR: #ffffff;
    font:bold 100%;
}
SPAN.clsSum
{
    COLOR: #000080;
    FONT-WEIGHT: bold;
}
SPAN.clsSumText
{
    COLOR: #000000;
    font:normal 100% verdana,arial,helvetica;
}
SPAN.clsSubhead
{
    COLOR: #000080;
    font:bold 100% verdana,arial,helvetica;
}
SPAN.clsInfo
{
    font:normal 90% verdana,arial,helvetica;
}
SPAN.clsBio
{
    COLOR: #000000;
    font:normal 90%;
}

.clsGloss {
	color:#000080;
	font:bold 85% verdana,arial,helvetica;
}
.clsBodyTxt
{
}

/*** default pages ***/
TD.clsLND
{
    COLOR: red;
    LINE-HEIGHT: 1
}
SPAN.functionbartext
{
    COLOR: #ffffff;
}
SPAN.st
{
    FONT-STYLE: normal;
    FONT-VARIANT: normal;
    FONT-WEIGHT: bold;
    LINE-HEIGHT: 100%;
}
SPAN.category
{
    COLOR: #ffffff;
    FONT-STYLE: normal;
    FONT-VARIANT: normal;
    FONT-WEIGHT: bold;
    LINE-HEIGHT: normal;
    VERTICAL-ALIGN:top;
}
SPAN.pd
{
    COLOR: #008080;
}
.infobar
{
    border: 1px outset #99CCFF;
}

/*** Figure Tags ***/
.clsFigs {
	font:bold 85% verdana,arial,helvetica;
}
.clsField
{
    COLOR: #000000;
    font:bold 85% verdana,arial,helvetica;
}
.clsTable
{
    COLOR: #000000;
    font:normal 80% verdana,arial,helvetica;
}

.clsFigure {
	font:bold 100% verdana,arial,helvetica;

}
.clsCap {
	font:bold 85% verdana,arial,helvetica;
	color:#000080
}
.clsCaptxt {
	font:normal 85% verdana,arial,helvetica;
	color:#000080
}
/*
     FILE ARCHIVED ON 09:31:46 Jun 09, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:19:13 Nov 19, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.897
  exclusion.robots: 0.036
  exclusion.robots.policy: 0.02
  esindex: 0.015
  cdx.remote: 19.791
  LoadShardBlock: 75.232 (3)
  PetaboxLoader3.datanode: 79.061 (4)
  load_resource: 107.256
  PetaboxLoader3.resolve: 87.856
*/